<div class="auth-form">
  {{#if loader}}
    <p>Отправка данных...</p>
  {{/if}}
  <div class="fields">
    {{{LoginField}}}
    {{{PasswordField}}}
  </div>
  <div class="{{css.buttons}}">
    {{{EnterButton}}}
    {{{RegButton}}}
  </div>
</div>
