{{#if errorText}}
  <p class="{{css.error}}">Произошла ошибка: {{errorText}}</p>
{{/if}}
{{#if loader}}
  <p>Отправка данных...</p>
{{/if}}
<div class="fields">
  {{{OldPasswordField}}}
  {{{NewPasswordField}}}
  {{{RepeatPasswordField}}}
</div>
<div class="{{css.buttons}}">
  {{{SaveButton}}}
</div>
