{{#if errorText}}
  <p class="{{css.error}}">Произошла ошибка: {{errorText}}</p>
{{/if}}
{{#if message}}
  <p>{{message}}</p>
{{/if}}
<div class="fields">
  {{#each fields}}
    {{{this}}}
  {{/each}}
</div>
<div class="{{css.buttons}}">
  {{#each buttons}}
    {{{this}}}
  {{/each}}
  {{{SaveButton}}}
  {{{LeaveButton}}}
  {{{ChangePasswordButton}}}
</div>
