<section class="{{css.root}}">
  <ul class="{{css.list}}">
    <li class="{{css.item}} {{css.newChatItem}}">{{{NewChatButton}}}</li>
    {{#each chats}}
      {{{this}}}
    {{/each}}
  </ul>
</section>
