<div class="{{css.root}}">
  <div class="{{css.col1}}">
    {{{InputFile}}}
  </div>
  <div class="{{css.col2}}">
    {{#if errorText}}
      <p class="{{css.error}}">Произошла ошибка: {{errorText}}</p>
    {{/if}}
    {{#if loader}}
      <p>Отправка данных...</p>
    {{/if}}
    {{{InputText}}}
  </div>
</div>
