<form class="auth-form">
  <div class="fields">
    {{{FirstNameField}}}
    {{{SecondNameField}}}
    {{{LoginField}}}
    {{{EmailField}}}
    {{{PhoneField}}}
    {{{PasswordField}}}
  </div>
  <div class="{{css.buttons}}">
    {{{EnterButton}}}
    {{{RegButton}}}
  </div>
</form>
