<div class="{{css.root}}">
  <div class="{{css.col1}}">
    {{{Avatar}}}
  </div>
  <div class="{{css.col2}}">
    <p class="{{css.name}}">{{title}}</p>
    <p class="{{css.lastMessage}}">{{lastMessage}}</p>
  </div>
  <div class="{{css.col3}}">
    <button class="{{css.closeButton}}" data-selector="closeBtn" type="button">
      <img src="/close-icon.png" alt="Иконка крестик">
    </button>
    {{#if newMessagesCounter}}
      <div class="{{css.newMessagesCounter}}">
        {{newMessagesCounter}}
      </div>
    {{/if}}
  </div>
</div>
