<div class="{{css.root}}">
  <div class="{{css.col1}}">
    {{{Avatar}}}
  </div>
  <div class="{{css.col2}}">
    <p class="{{css.name}}">{{title}}</p>
    <p class="{{css.lastMessage}}">{{lastMessage}}</p>
  </div>
  <div class="{{css.col3}}">
    <time class="{{css.time}}" datetime="2022-11-05T00:00">00:00</time>
    {{#if newMessagesCounter}}
      <div class="{{css.newMessagesCounter}}">
        {{newMessagesCounter}}
      </div>
    {{/if}}
  </div>
</div>
