<h1 class="sr-only">Чаты</h1>
<div class="{{css.col1}}">
  <div class="{{css.profile}}">
    {{{Profile}}}
  </div>
  <div class="{{css.search}}">
    {{search}}
  </div>
  {{{ChatList}}}
</div>
<div class="{{css.col2}}">
  {{{MainChat}}}
</div>
