{{#if errorText}}
  <p class="{{css.error}}">Произошла ошибка: {{errorText}}</p>
{{/if}}
{{#if loader}}
  <p>Отправка данных...</p>
{{/if}}
<div class="fields">
  {{{FirstNameField}}}
  {{{SecondNameField}}}
  {{{LoginField}}}
  {{{EmailField}}}
  {{{PhoneField}}}
  {{{DisplayNameField}}}
</div>
<div class="{{css.buttons}}">
  <button type="submit" hidden></button>
  {{{SaveButton}}}
  {{{LeaveButton}}}
  {{{ChangePasswordButton}}}
</div>
