<form class="auth-form">
  <div class="fields">
    {{{FirstNameField}}}
    {{{SecondNameField}}}
    {{{LoginField}}}
    {{{EmailField}}}
    {{{PhoneField}}}
    {{{DisplayNameField}}}
  </div>
  <div class="{{css.buttons}}">
    {{{LeaveButton}}}
    {{{ChangePasswordButton}}}
  </div>
</form>