<form class="auth-form">
  <div class="fields">
    {{{NameField}}}
    {{{LastnameField}}}
    {{{LoginField}}}
    {{{EmailField}}}
    {{{PhoneField}}}
    {{{ChatnameField}}}
  </div>
  <div class="{{css.buttons}}">
    {{{LeaveButton}}}
    {{{ChangePasswordButton}}}
  </div>
</form>