<div class="fields">
  {{{FirstNameField}}}
  {{{SecondNameField}}}
  {{{LoginField}}}
  {{{EmailField}}}
  {{{PhoneField}}}
  {{{DisplayNameField}}}
</div>
<div class="{{css.buttons}}">
  <button type="submit" hidden></button>
  {{{LeaveButton}}}
  {{{ChangePasswordButton}}}
</div>
