<div class="site-wrapper">
<div class="background">
  <a href="chats.html" class="backlink">
    К чатам
  </a>
  <div class="window">
    <h1 class="window__header">Изменить пароль</h1>
    <p class="window__error">Сообщение об ошибке</p>
    <form class="window__form change-password-form">
      {{#with formIds}}
        <div class="change-password-form__fields">
          <div class="change-password-form__password-field-block password-field-block">
            <label for="{{oldPasswordId}}" class="password-field-block__label ally-only">
              Старый пароль
            </label>
            <input class="password-field-block__input" id="{{oldPasswordId}}" type="password" placeholder="Старый пароль">
          </div>

          <div class="change-password-form__password-field-block password-field-block">
            <label for="{{newPasswordId}}" class="password-field-block__label ally-only">
              Новый пароль
            </label>
            <input class="password-field-block__input" id="{{newPasswordId}}" type="password" placeholder="Новый пароль">
          </div>

          <div class="change-password-form__password-field-block password-field-block">
            <label for="{{repeatPasswordId}}" class="password-field-block__label ally-only">
              Повторите пароль
            </label>
            <input class="password-field-block__input" id="{{repeatPasswordId}}" type="password" placeholder="Повторите пароль">
          </div>
        </div>
        <div class="change-password-form__buttons">
          <button class="change-password-form__button button" type="submit">Сохранить</button>
        </div>
      {{/with}}
    </form>
  </div>
</div>

</div>
