<label class="{{css.label}}" for="avatar">
  <img class="{{css.image}}" src="{{imageSrc}}" width="{{width}}" height="{{height}}" alt="Аватар" >
</label>
<input id="avatar" type="file" name="avatar" hidden>
<p class="{{css.name}}">{{name}}</p>
