<div class="site-wrapper">
<div class="background">
  <div class="window">
    <h1 class="window__header">Регистрация</h1>
    <p class="window__error">Сообщение об ошибке</p>
    <form class="window__form register-form">
      {{#with formIds}}
      <div class="register-form__fields">
        <div class="register-form__text-field-block text-field-block">
          <label for="{{nameId}}" class="text-field-block__label ally-only">Имя</label>
          <input class="text-field-block__input" id="{{nameId}}" type="text" placeholder="Имя">
        </div>
        
        <div class="register-form__text-field-block text-field-block">
          <label for="{{lastnameId}}" class="text-field-block__label ally-only">Фамилия</label>
          <input class="text-field-block__input" id="{{lastnameId}}" type="text" placeholder="Фамилия">
        </div>

        <div class="register-form__text-field-block text-field-block">
          <label for="{{loginId}}" class="text-field-block__label ally-only">Логин</label>
          <input class="text-field-block__input" id="{{loginId}}" type="text" placeholder="Логин">
        </div>

        <div class="register-form__email-field-block email-field-block">
          <label for="{{emailId}}" class="email-field-block__label ally-only">Email</label>
          <input class="email-field-block__input" id="{{emailId}}" type="email" placeholder="Email">
        </div>

        <div class="register-form__tel-field-block tel-field-block">
          <label for="{{phoneId}}" class="tel-field-block__label ally-only">Телефон</label>
          <input class="tel-field-block__input" id="{{phoneId}}" type="tel" placeholder="Телефон">
        </div>

        <div class="register-form__password-field-block password-field-block">
          <label for="{{passwordId}}" class="password-field-block__label ally-only">Пароль</label>
          <input class="password-field-block__input" id="{{passwordId}}" type="password" placeholder="Пароль">
        </div>
      </div>

      <div class="register-form__buttons">
        <button class="register-form__button button" type="submit">Регистрация</button>
        <a class="register-form__button button" href="./auth.hbs">Войти</a>
      </div>
      {{/with}}
    </form>
  </div>
</div>
</div>
