<form class="auth-form">
  <div class="fields">
    {{{OldPasswordField}}}
    {{{NewPasswordField}}}
    {{{RepeatPasswordField}}}
  </div>
  <div class="{{css.buttons}}">
    {{{SaveButton}}}
  </div>
</form>
